
p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.classic-btn {
  background-color: #ececec;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.classic-btn:hover {
  background-color: #e5e4e4;
}

.sidebar-pane > *{
  margin-bottom: 10px;
}

.sidebar-content div:not(:last-of-type):not(:first-of-type) {
  margin-bottom: 1.5em;
}

.sidebar {
  float: left;
  margin-right: 30%;
  padding: 10px; 
  position:relative;
  z-index:999;
  background-color: #282c34;
}

.sidebar hr {
  margin-bottom: 2em;
}

.sidebar h5 {
  align-items: center;
  text-align: center;
}

.sidebar__user-data {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items:start;
  margin-top: 10px;
}

.sidebar__user-data__block {
  display: flex;
  align-items: center;
  margin-right: auto;
  border-radius: 5px;
  justify-content: space-between;
  padding: 0.2em;
  /* box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.146); */
}

.sidebar__user-data__status {
  padding-right: 0.2em;
  padding-left: 0.1em;
  display: flex;
  flex-direction: column;
}

.icon-profile {
  height: 3.5em;
}

.sidebar__bnt-exit {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  height: 100%;
  padding: 3px;
  cursor: pointer;
  background-color: inherit;
}

.sidebar__bnt-exit:hover {
  background-color: #e86a6abd;
}

/* кнопки в sidebar-е */
.sidebar__operations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.styled-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}
.styled-btn .circle {
  width: 60px;
  height: 60px;
  background-color: #ececec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
  transition: background-color 0.3s;
}

.styled-btn .circle img.icon-svg:not(:first) {
  width: 30px;
  height: 30px;
}
.fa{
  font-size: 1.5em !important;
  margin: 8px !important;
}
.styled-btn span {
  font-size: 12pt;
  color: #333;
}

.styled-btn:hover .circle {
  background-color: #dcdcdc;
}
@media (max-width: 1240px) {

  .sidebar__operations {
      flex-direction: column;
  }

  .styled-btn {
      flex-basis: 100%;
      margin-right: 0;
  }
}

.btn-export .circle {
  background-color: #ffd97d;
  align-items: center;
  padding-bottom: 2px;
}

.filter-circle img {
  width: 43px;
  height: 43px;
}

.btn-import .circle {
  background-color: #60d394;
  align-items: center;
  padding-bottom: 2px;
}

.btn-filter .circle {
  padding-top: 2px;
  background-color: #ee6055;
}

/* фильтрация */
.sidebar__filters {
  background-color: #f9f9f9;
  padding: 0.5em;
  border-radius: 1%;
}

.sidebar__filter-block {
  margin-bottom: 1.5em;
}

.sidebar__filters h5 {
  margin-bottom: 0.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  width: 100%;
  height: 70%;
}

.delete-row-column-button {
  cursor: pointer;
  opacity: 0.75;
  display: inline-block;
  vertical-align: middle;
  &:hover{
    opacity: 1;
  }
}

.active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: #fcfcfc; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #2b2b2b;
  position: relative;
}


.menu-icon {
  display: none;
}


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}